In [1]:
import pandas as p

In [2]:
data = {"India": [2500, 2600, 2700, 2800, 2900, 3000, 3100, 3200, 3300, 3400],
    "USA": [20000, 20500, 21000, 21500, 22000, 22500, 23000, 23500, 24000, 24500],
    "China": [12000, 13000, 14000, 15000, 16000, 17000, 18000, 19000, 20000, 21000]
}

In [6]:
gdp = p.DataFrame(data)

In [7]:
gdp

   India    USA  China
0   2500  20000  12000
1   2600  20500  13000
2   2700  21000  14000
3   2800  21500  15000
4   2900  22000  16000
5   3000  22500  17000
6   3100  23000  18000
7   3200  23500  19000
8   3300  24000  20000
9   3400  24500  21000

In [8]:
gdp.mean(axis=1)

0    11500.000000
1    12033.333333
2    12566.666667
3    13100.000000
4    13633.333333
5    14166.666667
6    14700.000000
7    15233.333333
8    15766.666667
9    16300.000000
dtype: float64